<form class="d-flex" role="search" method="POST" action="/logout">
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll" type="submit" >Logout</button>
</form>