<div class="mask" style="background-color: rgba(0, 0, 0, 0.8); height:100vh;">
<div class="text-white">
<h1><center>{{title}}</center></h1>
<ul>
  {{#each groups}}
    <li>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
    </li>
  {{/each}}
</ul>
</div>
</div>