<div class="mask" style="background-color: rgba(0, 0, 0, 0.8); height:100vh;">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
		<div class="text-white">
			<h1 class="mb-5 text-center"><strong>Login</strong></h1>
			<form action="/login" method="POST">
				<div class="form-outline mb-2">
					<label class = "form-label" for="txtUserName">Username:</label>
                	<input type="text" id="txtUserName" name="username" class="form-control" />
              	</div>

              	<div class="form-outline mb-4">
					<label class = "form-label" for="txtPassword">Password:</label>
                	<input type="password" id="txtPassword" name="password" class="form-control" />
              	</div>

			 	<button type="submit" class="btn btn-primary btn-block mb-4">
                	login
            	</button>
			</form>
		</div>
	</div>
</div>